<%include file="univs/univs_header.html"%>
		
		<!--第一栏-->
        <div class="right_div FR">
		
		<div class="block fixed">
          <div class="div_block FL">
            <div class="div_block_head">
              <h2 >校内竞赛</h2>  <span class="More"><a href="#nogo">更多&gt;&gt; </a></span>
            </div>
            <div class="div_block_body">
              <ul >
              <%if $tplData.schooleContests%>
              <%foreach from=$tplData.schooleContests item item=value key=key%>
                <li ><a href="baoming.html"><%$value.contest_name%></a> <span><%$value.create_time|truncate:10:''%></span></li>
              <%/foreach%>
              <%/if%>
              </ul>
            </div>
		  </div>
		  
		  <div class="div_block FR">
			<div class="div_block_head">
              <h2 >全部竞赛</h2> <span class="More"><a href="#nogo">更多&gt;&gt; </a></span>
            </div>
            <div class="div_block_body">
               <ul >
                <li ><a href="#nogo">数学建模MCM竞赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">ACM竞赛2014年亚洲赛区晋级赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">电子设计大赛级赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">创业设计竞赛级赛</a> <span>2013-12-23</span></li>
				<li ><a href="#nogo">清华大学2014创业设计竞赛级赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">清华大学2014创业设计竞赛级赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">清华大学2014创业设计竞赛级赛</a> <span>2013-12-23</span></li>
                <li ><a href="#nogo">清华大学2014创业设计竞赛级赛</a> <span>2013-12-23</span></li>
               
              </ul>
            </div>
          </div>
		  </div>

        </div>

<%include file="univs/univs_footer.html"%>