<%include file="univs/univs_header.html"%>
		
		<!--第一栏-->
		<div class="point FR"> <a href="/univs/create/<%$tplData.university.univs_id%>"><img width="790px" src="/static/common/images/fengche_create.jpg"/></a> </div>
		
        <div class="right_div FR">
        <div class="DivH10"></div>
		<div class="block fixed">
          <div class="div_block flip FL">
            <div class="div_block_head">
              <h2 >校内竞赛</h2>  <span class="More"><a  href="/<%$tplData.university.short_name%>/inner">更多&gt;&gt; </a></span>
            </div>
            <div class="div_block_body">
              <ul >
              <%if $tplData.schooleContests%>
              <%foreach from=$tplData.schooleContests item item=value key=key%>
                <li ><a target="_blank" class="stitle" href="/<%if $value.contest_level == 1%><%$tplData.university.short_name%>/<%/if%><%$value.contest_url%>" title="<%$value.contest_name|strip_tags%>"><%$value.contest_name|strip_tags%></a> <span><%$value.create_time|truncate:10:''%></span></li>
              <%/foreach%>
              <%/if%>
              </ul>
            </div>
		  </div>
		  
		  <div class="div_block FL">
			<div class="div_block_head">
              <h2 >全部竞赛</h2> <span class="More"><a href="/<%$tplData.university.short_name%>/outer">更多&gt;&gt; </a></span>
            </div>
            <div class="div_block_body">
               <ul >
              <%if $tplData.publicContests%>
              <%foreach from=$tplData.publicContests item item=value key=key%>
                <li ><a  class="stitle" target="_blank" href="/<%$value.contest_url%>" title="<%$value.contest_name|strip_tags%>"><%$value.contest_name|strip_tags%></a> <span><%$value.create_time|truncate:10:''%></span></li>
              <%/foreach%>
              <%/if%>
              </ul>
            </div>
          </div>
		  </div>

        </div>

<%include file="univs/univs_footer.html"%>