      </div>
	  <div class="footer">
	  <div class="container">
	      <div class="version">
		   Copyright &copy;环球竞赛网  2013-2014 京ICP备14013810号-2
                  <br>友情链接：&nbsp;&nbsp;<a href="http://www.mathor.com" target="_blank">校苑数模网</a>
		  </div>
	  </div>
	  </div>
    </div>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</body>
</html>