<%include file="index/index_header.html"%>

<DIV class=c_out>
<DIV class=c_out_h><!--首屏头图-->

<DIV class="register_img" >
	
	<div class="register_area" id="js_register" <%if empty($tplData.register)%>style="display:none;"<%/if%>>
	<p class="register_control"><span class="fr"><a href="javascript:" class="js_login">登录</a></span><a href="javascript:" class="js_register current">注册账号</a></p>
	<form action="/user/reg" method="post" id="register_form">
	<input type="hidden" name="referer" value="<%$tplData.referer|default:''%>"/>
	<div class="input-group ">
        <label for="username" class="input-group-addon w_60">用户名</label>
        <input type="text" class="form-control" id="username" name="username" maxlength="20">
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label for="email"  class="input-group-addon w_60">邮箱</label>
        <input type="text" class="form-control" id="email" name="email" maxlength="50">
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label for="password"  class="input-group-addon w_60">密码</label>
        <input type="password" class="form-control" id="password" name="password" maxlength="20">
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label for="password_c" class="input-group-addon w_60">确认密码</label>
        <input type="password" class="form-control" id="password_c" name="password_c" maxlength="20">
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label for="school_name" class="input-group-addon w_60">学校</label>
        <input type="text" class="form-control" id="school_name" name="univs_id">
        <input type="hidden" value="" id="univs_id" name="univs_id"></input>
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label for="tel" class="input-group-addon w_60">手机</label>
        <input type="text" class="form-control" id="tel" name="tel" maxlength="11">
    </div>
    <div class="DivH10"></div>
	<div class="tc"><button type="submit" class="btn btn-large btn-info w_200">立即注册</button></div>
	
	</form>
    </div>
	
	<div class="register_area" id="js_login" <%if empty($tplData.login)%>style="display:none;"<%/if%>>
	<p class="register_control"><span class="fr"><a href="javascript:" class="js_login current">登录</a></span><a href="javascript:" class="js_register">注册账号</a></p>
	<form action="/user/login" method="post" id="login_form">
	<input type="hidden" name="referer" value="<%$tplData.referer|default:''%>"/>
	<div class="input-group ">
        <label class="input-group-addon w_60" for="login_username">邮箱/手机/账号</label>
        <input type="text" id="login_username" class="form-control" name="username" value="">
    </div>
    <div class="DivH10"></div>
    <div class="input-group ">
        <label class="input-group-addon w_60" for="login_password">密码</label>
        <input type="password" id="login_password" class="form-control" name="password" value="">
    </div>
    <div class="DivH10"></div>
	<div class="tc"><button type="submit" class="btn btn-large btn-info w_200">立即登录</button></div>
	
	</form>
    </div>
</DIV>

</DIV>
<div id="choose-box-wrapper">
	<div id="choose-box">
		<div id="choose-box-title">
			<span>选择学校</span>
		</div>
		<div id="choose-a-province"></div>
		<div id="choose-a-school"></div>
        <div id="choose-box-bottom">
            <div id="js_schoole_select">未找到学校自己填写:<input type="text" id="otherSchoole"/><input type="button" id="selectOtherSchoole" value="确定" /></div>
            <input type="button" id="closeSchoole" value="关闭" />
        </div>
	</div>
</div>
</DIV>
<script type="text/javascript" src="/static/common/js/school.js"></script>
<script type="text/javascript" src="/static/common/js/selectSchool.js"></script>
<%include file="index/index_footer.html"%>