<%include file="index/index_header.html"%>

<DIV class=c_out>
<DIV class=c_out_h><!--首屏头图-->

<DIV class="index_img" >
	<div class="register">
		<p><span><a href="javascript:" class="js_login">登录</a></span><a href="javascript:" class="js_register">注册账号</a></p>
		<form action="/user/reg" method="post">
		<div class="datatitle">
		<label for="username">用户名:</label>
		<label for="email">邮箱:</label>
		<label for="password">密码:</label>
		<label for="password_c">确认密码:</label>
		<label for="univs_id">学校:</label>
		<label for="tel">手机:</label>
		</div>
		
		<div class="datainput">
		<input id="username" class="input_type" type="text" name="username" value=""/><br/>
		<input id="email" class="input_type" type="text" name="email" value=""/>
		<input id="password" class="input_type" type="password" name="password" value=""/>
		<input id="password_c" class="input_type" type="password" name="password_c" value=""/>
		<input id="school-name" class="input_type" type="text" name="univs_id" value=""/>
		<input id="tel" class="input_type" type="text" name="tel" value=""/>
		</div>
		<div class="button"><button type="submit" class="btn">立即注册</button></div>
		</form>
	</div>
</DIV>
<DIV class="login_img " style="display:none;" >
	<div class="register">
		<p><span><a href="javascript:" class="js_login">登录</a></span><a href="javascript:" class="js_register">注册账号</a></p>
		<form action="/user/login" method="post">
		<div class="login_in">
        <label class="backside" id="username_hide">邮箱/手机号/用户名</label>
		<input id="login_username" class="input_type" type="text" name="username" value=""/><br/>
        <label class="backside" id="password_hide">密码</label>
		<input id="login_password" class="input_type" type="text" name="email" value=""/>
		</div>
		<div class="button"><button type="submit" class="btn">立即登录</button></div>
		</form>
	</div>
</DIV>

</DIV>
<div id="choose-box-wrapper">
	<div id="choose-box">
		<div id="choose-box-title">
			<span>选择学校</span>
		</div>
		<div id="choose-a-province"></div>
		<div id="choose-a-school"></div>
		<div id="choose-box-bottom">
			<input type="button" id="closeSchoole" value="关闭" />
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/common/js/school.js"></script>
<script type="text/javascript" src="/static/common/js/selectSchool.js"></script>
<%include file="index/index_footer.html"%>