@charset "utf-8";
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,textarea,th,tr,td,em {
	margin:0;
	padding:0;
}
html {
	background:#2e6a7d url(../images/body_bg.jpg) repeat-x 0 -128px;
}
body {
	font:12px/150% verdana,lucida,arial,helvetica,宋体,sans-serif;
	color:#000;
	padding-bottom:20px;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
address,caption,cite,code,dfn,th,var,b,i,em {
	font-style:normal;
	font-weight:normal;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ol,ul {
	list-style:none;
}
:focus {
	outline:0;
}
fieldset,img {
	border:0;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
a {
	color:#2a78b4;
	cursor:pointer;
	text-decoration:none;
	vertical-align:baseline;
}
a:hover {
	text-decoration:underline;
}
input,textarea,select {
	font:12px verdana,lucida,arial,helvetica,宋体,sans-serif;
	padding:2px;
	vertical-align:middle;
	outline:none;
}
textarea {
	font-size:1em;
	line-height:1.5em;
	overflow:hidden;
	overflow-y:auto;
}
select {
	padding:0;
	font:12px arial,helvetica,sans-serif,宋体;
}
.clearfix:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.clearfix {
	display:inline-block;
}
.clearfix {
	display:block;
}
.clear {
	height:0;
	overflow:hidden;
	clear:both;
}
.none {
	display:none;
}
.o_h {
	overflow:hidden;
}
.block {
	display:block;
}
.zoom {
	zoom:1;
}
.normal {
	font-weight:normal;
}
.bold {
	font-weight:bold;
}
.fl {
	float:left;
	display:inline;
}
.fr {
	float:right;
	display:inline;
}
.p_r {
	position:relative;
}
.px12 {
	font-size:12px;
}
.px14 {
	font-size:14px;
}
.px16 {
	font-size:16px;
}
.px18 {
	font-size:18px;
	line-height:1em;
}
.px20 {
	font-size:20px;
	line-height:1.2em;
}
.px24 {
	font-size:24px;
	line-height:1.2em;
}
.px26 {
	font-size:26px;
	line-height:1.2em;
}
.yahei {
	font-family:"microsoft yahei",arial,helvetica,sans-serif,"黑体";
}
.song {
	font-family:"宋体";
}
.lh15 {
	line-height:1.5em;
}
.lh16 {
	line-height:1.6em;
}
.lh18 {
	line-height:1.8em;
}
img.img_box {
	border:1px solid #000;
}
.my_img {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:1px 1px 2px #444;
	-webkit-box-shadow:1px 1px 2px #444;
	-moz-box-shadow:1px 1px 2px #444;
	border-bottom:1px solid #003\9;
	border-right:1px solid #003\9;
}
.v_m {
	vertical-align:middle;
}
.tr {
	text-align:right;
}
.tc {
	text-align:center;
}

.w_200{width:200px;}

.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbbbbb;*border:0;border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}

span.w_60 {width:60px;}
label.w_60 {width:60px;}
.DivH10{height:10px;}

#head,.head_common {
	background:url(../images/big_logo.jpg) no-repeat;
	position:relative;
	width:960px;
	margin:0 auto;
	z-index:10;
	padding-top:1px;
}
#head a.index_on,.head_common a.index_on {
	position:absolute;
	left:25px;
	top:25px;
	width:260px;
	height:80px;
	text-indent:-999em;
	overflow:hidden;
}

#head .t_search,.head_common .t_search {
	position:absolute;
	right:90px;
	top:80px;
	z-index:3;
}
.search_sh .text{
	background:none;
	border:none;
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	overflow:hidden;
	width:100%;
}
.search_sh .button,.search_sh .button:hover {
	background:url(../images/public.png) no-repeat -70px -160px;
	position:absolute;
	right:-31px;
	top:-1px;
	float:left;
	width:30px;
	height:26px;
	text-indent:-999em;
	overflow:hidden;
	cursor:pointer;
	text-decoration:none;
	margin-top:1px;
}
.t_search .button:hover {
	background-position:-100px -160px;
}
.t_search .search_sh {
	background:#e5e5e5;
	border:1px solid #375d7f;
	position:relative;
	height:26px;
	float:left;
	display:inline;
	width:225px;
	zoom:1;
}


#nav {
	width:960px;
	height:31px;
	margin-top:130px;
}
#nav a:hover,#nav_sec a:hover {
	text-decoration:none;
}
#nav ul {
	padding-left:10px;
}
#nav li {
	float:left;
	display:inline;
	position:relative;
	margin-right:3px;
	font-size:14px;
	font-weight:bold;
}
#nav li span {
	background:url(../images/public.png) no-repeat -209px 0;
	float:left;
	display:inline;
	width:3px;
	height:31px;
	overflow:hidden;
}
#nav li a {
	background:url(../images/public.png) no-repeat right 0;
	float:left;
	display:inline;
	height:31px;
	line-height:31px;
	_line-height:33px;
	padding:0 20px 0 8px;
	color:#000;
	overflow:hidden;
}
#nav li em {
	background:url(../images/public.png) no-repeat -103px -125px;
	position:absolute;
	right:0;
	top:0;
	width:17px;
	height:31px;
	overflow:hidden;
	cursor:pointer;
}
#nav .on span,#nav .hover span {
	background-position:-209px -37px;
}
#nav .on a,#nav .hover a {
	background-position:right -37px;
	color:#fff;
}
#nav .hover em {
	background-position:-85px -125px;
}
#nav .on em {
	background-position:-120px -125px;
}
#nav .mytime span {
	background-position:-209px -74px;
}
#nav .mytime a {
	background-position:right -74px;
	padding-left:12px;
	padding-right:14px;
	color:#fff;
}
#nav li a.space,#nav .on a.space {
	letter-spacing:2px;
}
#nav li.index a {
	padding-right:12px;
	padding-left:12px;
}
#nav li p {
	display:none;
}
#nav .hover p {
	background:#000;
	display:block;
	position:absolute;
	top:31px;
	left:0;
	border:1px solid #147093;
	width:104px;
	overflow:hidden;
}
#nav .hover p a {
	background:none;
	display:block;
	font-size:12px;
	font-weight:normal;
	border-bottom:1px solid #0a384a;
	padding:0;
	padding-left:12px;
	height:28px;
	line-height:28px;
	_line-height:32px;
	overflow:hidden;
	color:#ffc029;
	width:92px;
	margin-bottom:-1px;
}
#nav .hover p a:hover {
	background:url(../images/public.png) no-repeat 0 -235px;
	color:#fff;
}
#nav .nav_date {
	float:right;
	margin-right:12px;
	display:inline;
	color:#fff;
}




.c_out {
	background:url(../images/shadow_bg.jpg) repeat-y -970px 0;
	width:970px;
	margin:0 auto;
	position:relative;
}
.c_out_h {
	background:url(../images/shadow_bg.jpg) no-repeat 0 0;
	padding:0 5px;
}

.article {padding:20px 30px; width:94%;}
.article .article_title {text-align:center; height:55px; line-height:45px; width:100%;}
.article .article_title h1{width:100%; text-align:center; font-size:24px; height:45px;}
.article .article_content{text-indent:30px; line-height:35px; font-size:14px;}
.article  .article_menu{ border-top:#F60 solid 2px; width:100%; text-align:center;}
.area {
padding: 10px 17px;
}

.area {
line-height: 150%;
}

.area dl {
overflow: hidden;
zoom: 1;
}
.area dl dt {
color: #000;
font-weight: bold;
width: 55px;
padding-bottom: 11px;
margin-right: 10px;
font-size: 14px;
margin-left: 5px;
}

.area dt, .area dd {
float: left;
}

.area dl dd {
width: 845px;
}

.area dt, .area dd {
float: left;
}

.area dl, .area dt, .area dd {
list-style-type: none;
}

.area dl dd a {
padding-bottom: 11px;
display: inline-block;
float: left;
margin-right: 14px;
white-space: nowrap;
font-size: 13px;
font-weight: bold;

}
.input-group input.error {border: 1px dotted red;}
.input-group label.error {color: red;font-style: italic;}

#footer {
	background:url(../images/shadow_bg.jpg) no-repeat -1940px -310px;
	width:960px;
	margin:0 5px;
	height:45px;
}

.index_img {
	position:relative;
	width:960px;
	height:400px;
	clear:both;
	overflow:hidden;
	z-index:9;
	background:url(../images/earth.jpg) 50% 50% no-repeat;
}

.index_user{
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 15px;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.login_img {
	position:relative;
	width:960px;
	height:400px;
	clear:both;
	overflow:hidden;
	z-index:9;
	background:url(../images/earth.jpg) 50% 50% no-repeat;
}

.register_img {
	position:relative;
	width:960px;
	height:600px;
	clear:both;
	overflow:hidden;
	z-index:9;
	background:url(../images/earth.jpg) -200px 50%;
}

.w_220{width:220px;}

.login_in{padding:0 5px;}
.login_in .input_type{width:190px; background-color:transparent;}
.backside{z-index:-1; display:block; position:absolute; margin-top:3px; color:#999;}

.earch_slogan{position:absolute;left:50px;width:400px;top:20px;}
.earch_slogan p {display:block; color:#FFF; margin-top:50px; font-family:"华文中宋","Microsoft Yahei", "新宋体"; font-size:26px;line-height:40px;}

.register_area{position:relative;width:300px; margin-left:450px;}
.register_control{width:100%; margin:90px 0 10px;}

.register_area .current{color:#E9F118;}
.register .current{color:#E9F118;}

.captcha_table{margin:15px 0; }
.register_area .captcha_table a{font-size:15px; color:#E3EC0F}

.register{position:relative;left:640px;width:245px;top:20px;z-index:2;}

.register p {display:block; height:30px; clear:both; }

.register_area a, .register a{
	height:20px; line-height:20px; font-size:18px; color:#FFF;}

.register .index_user a.logout{height:20px; line-height:20px; font-size:18px; color:#222; border-bottom:2px #0F22F3 solid}

.index_user .user_name{margin:0 auto; text-align:center;}
.index_user .user_name a{ font-size:16px; color:blue; }
.register .index_user .my_item{width:40%; margin:10px auto; }
.register .index_user .my_item a{color:#E23A2B}
.register .index_user .my_item a:hover{color:#333}

.register .datatitle {float:left; width:68px; text-align:right; vertical-align:middle; padding-top:3px; }
.register .datainput {float:left; width:130px;}

.datatitle label{ display:block ;line-height:20px; height:43px; font-size:14px; min-width:60px; }
.register input{ height:20px; }
.register input:focus{border: #33FF00 1px solid;}

.register .button{float:left; margin-top:3px; width:100%; text-align:center;}
.register .btn{width:100%;}

.movie_out {
	margin-top:-3px;
	width:960px;
	margin:0 auto;
}
.index_mtit {
	background:url(../images/lianmeng.jpg) no-repeat 0 0;
	width:960px;
	height:60px;
	overflow:hidden;
	text-indent:-9999em;
	position:relative;
	z-index:10;
}


.copyright {
	width:960px;
	margin:5px auto;
	text-align:center;
	color:#5fc9ff;
}
.copyright a {
	color:#5fc9ff;
}


.foot_bot {
	color:#627139;
	padding-left:10px;
	padding-top:14px;
}
.foot_bot a {
	color:#a6c063;
	margin:0 12px;
}

a.hot {color:#F00;}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}

.input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}



