body{color:#000;background:#08679C; font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",宋体;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{margin:0;padding:0;}

li{list-style-type:none;}
/*
* 定义H系列标签
* @overlay HN
* @desc 覆盖H系列标签默认属性
*/
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}

.pointer{cursor:pointer;}
.center{text-align:center;}

img{border:0 none;}
a:link, a:visited{color:#333;text-decoration: none;}
a:hover{color:#F60;text-decoration: underline;}
a.green{color:green;}
a.red{color:red;}

.info {width: 1000px; margin:0 auto;}
.current {color:#FF0000;}

.top{  width:100%; height:40px; background-color:#064466; color:#FFF;}
.top_logo{font-family:"华文中宋","Microsoft Yahei", "新宋体"; font-size:20px; height:40px; line-height:40px;}
.c_red {color:red;}
.fs_italic{font-style:italic;}
.ml_30 {margin-left:30px;}

.top a{ color:#FF3; margin:auto 10px; font-size:14px; height:40px; line-height:40px;}
.top a:hover{color: #00FF00}

/* 浮动定义 */
.FL{float:left;}
.FR{float:right;}

/* 定位关系 */
.absolute{position:absolute;}
.relative{position:relative;}

.DivH5,.DivH10,.DivH15,.DivH20,.DivH25,.DivH30,DivH1,.DivH40{width:100%;overflow:hidden;}
.DivH1{ height:1px;}
.DivH5{height:5px;}
.DivH10{height:10px;}

.contest_header {
	background-image: url(../images/bg_big.jpg);
	background-repeat: no-repeat;
	height:550px;
}

.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }


.contest_h1{padding-top:190px;line-height:90px; color:#FFF; font-size:50px;letter-spacing:10px; font-family:"华文中宋", "Microsoft Yahei", "新宋体"; text-align:center;}

.contest_header .show_top{height:500px; position:relative;}

.show_top .time{color: #FFFFFF; font-family: "微软雅黑"; font-size: 15px; position:absolute; right:300px; top:350px;}
.show_top .time b {font-size: 35px;color: #FFFFFF;font-family: "Times New Roman", Times, serif;}
.show_top .bm {position:absolute; left:700px; top:330px;}
.show_top .bm em {font-size: 1px; visibility: hidden;}
.show_top .bm a {background-image: url(../images/a1.png);height: 66px;width: 188px;display: block;text-decoration: none;}
.show_top .bm a:hover {background-image: url(../images/a2.png);text-decoration: none;}

.dhbox {}
.dhbox ul li b {display: block;font-weight: normal;color: #FFFFFF;font-size: 14px;float: left;line-height: 40px;height: 40px;}
.dhbox ul li a {display: block;font-family: "微软雅黑";font-size: 18px;color: #FFFFFF;text-decoration: none;float: left; line-height: 40px;}
.dhbox ul li a:hover {color: #fff200; }
.dhbox ul li{display:block; float:left; margin:0px 15px;}
.dhbox ul li a.current {color:#fff200;}
.dhbox span a {display: block;font-family: "微软雅黑";font-size: 16px;color: #FFFFFF;text-decoration: none;float: left; line-height: 30px;}
.dhbox span a:hover {color: #fff200; }

.news_box {margin-top: 12px;}
.left_div{width:200px; background:#FFFFFF}
.right_div{padding:0 2px; width:784px;}
.left_side{width:200px;}

.right_div .block{ background:#FFFFFF; border:#666 solid 1px; width:100%; display:block; height:auto; overflow:hidden; }

.left_div { border:1px #666666 solid;}
.div_menu { padding:10px; background:#FFF}
.div_menu .div_menu_head { background:url(../images/new_index_r7_c4.jpg) no-repeat 0 50%; border-bottom:2px #0C3 solid; line-height:30px; height:30px;}
.div_menu .div_menu_head h2{padding-left:15px;}

.div_menu { padding:10px; background:#FFF}
.div_menu .div_menu_head { background:url(../images/new_index_r7_c4.jpg) no-repeat 0 50%; border-bottom:2px #0C3 solid; line-height:30px; height:30px;}
.div_menu .div_menu_head h2{padding-left:15px;}

.baoming_menu{width:180px; border:#666 solid 1px; overflow:hidden; background:#FFF; padding:10px;}
.baoming_menu .baoming_head{background:url(../images/new_index_r7_c4.jpg) no-repeat 0 50%; border-bottom:2px #0C3 solid; line-height:30px; height:30px;}
.baoming_head h2{ padding-left:15px;}

.main .div_block{ margin-left:10px; padding-right:10px; width:372px; background:url(../images/sbbb.jpg) no-repeat right center;}
.div_block .div_block_head{height:35px; line-height:35px; border-bottom:#00CC99 solid 1px; position:relative;}

.block_list {width:760px; padding:10px; position:relative;}
.block_list h2{border-bottom:#0F0 solid 1px; height:40px; line-height:30px;}

.div_block_body li span{float:right; }

.div_block_body ul{margin-left:20px;}
.div_block_body ul li{list-style:circle; height:28px; line-height:28px;}

.div_block_body ul li a{ font-size:14px}
.div_block_body .control a{margin-left:5px; color:#0119C9;}


.border-top{border-top:#333 1px dashed;}

.baoming_body ul li{ width:100%; height:35px; line-height:35px; overflow:hidden; font-size:18px; padding-left:15px; }
.baoming_body ul li a{color:#00C}

.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbbbbb;*border:0;border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px;}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0;}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px;}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-block+.btn-block{margin-top:5px;}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#c5c5c5;border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003bb3;}
.btn-primary:active,.btn-primary.active{background-color:#003399 \9;}
.btn-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(to bottom, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#f89406;*background-color:#df8505;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(to bottom, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#ffffff;background-color:#51a351;*background-color:#499249;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#222222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515;}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-link{border-color:transparent;cursor:pointer;color:#0088cc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-link:hover{color:#005580;text-decoration:underline;background-color:transparent;}
.btn-link[disabled]:hover{color:#333333;text-decoration:none;}

a.edit { font-size:13px; color:#0119C9;}

.article {padding:10px; width:97%;}
.article .article_title {text-align:center; height:55px; line-height:45px; width:100%; border-bottom:#999999 2px solid;}
.article .article_title h3{text-align:center;}
.article .article_title h1{width:100%; text-align:center;}
.article .article_content{text-indent:30px; line-height:35px; font-size:14px;}

.article_body .table_row{height:40px; line-height:40px;}
.article_body .table_row label{width:70px; font-size:14px;}
.article_body .table_row select{width:150px; font-size:14px;height:25px;}
.article_body .table_bottom{text-align:center;}

.article_body   input.error {border: 1px dotted red;}
.article_body   label.error {color: red;font-style: italic; }

.article_body .table_row .title{width:600px; line-height:20px; font-size:14px;}

.article_body .register{line-height:40px; vertical-align:middle; font-size:18px;}

.article_body .create_title{line-height:40px; font-size:18px; text-align:center;}
.article_body .create_data{margin:0 auto; width:100%; line-height:30px; font-size:14px;}
.create_data .create_teble th{font-weight:normal; font-size:14px; text-align:right; padding-right:20px;}
.create_data .create_teble .text{width:200px; font-size:14px;}
.create_data .create_teble .w_100{width:100px; font-size:14px;}
.create_data .create_teble .select{min-width:150px; font-size:14px;}

.create_data .create_teble td{font-weight:normal; font-size:14px;}
.create_data .create_teble .control td{text-align:center; font-weight:bold;}
.create_data .create_teble em{color:#F00; vertical-align:middle;}
.create_data .create_teble input{height:20px; line-height:20px; }

.create_data .title{width:520px; height:20px; font-size:14px;}
.create_data .content{width:97%; margin-top:10px;}

.create_data .create_teble  input.error {border: 1px dotted red;}
.create_data .create_teble  label.error {color: red;font-style: italic;}

.footer .version{ text-align:center; line-height:20px; height:80px; margin-top:20px; border-top: #999999 2px solid; }

