<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title><%$tplData.contest.contest_name|strip_tags%>_环球竞赛网_中国大学生竞赛联盟</title>
<meta name="keywords" content="数学建模竞赛,全国高校联盟,MCM,ICM">
<meta name="description" content="<%$tplData.contest.contest_name|strip_tags%>全国大学生竞赛联盟">
<link rel="shortcut icon" href="/favicon.ico">

<link  rel='stylesheet' type='text/css' href='/static/common/css/jingsai.css' >
<link  rel='stylesheet' type='text/css' href='/static/common/css/jquery-ui-1.10.4.custom.min.css' >
<script src="/static/common/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/common/js/jquery.validate.js?v=1.0" type="text/javascript"></script>
<script src="/static/common/js/contest.js?v=1.0" type="text/javascript"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script type="text/javascript">

</script>
</head>

<body>
<div class="top">
	<div class="info">
		<div class="top_logo FL">环球<span class="c_red">竞赛</span>网 <span class="ml_10">world</span><span class="c_red fs_italic">jingsai</span>.com  <span class="ml_10">出国or保研?N多大赛奖项等你拿！</span></div>
		<div class="FR"><%if $tplData.is_login eq 1 %><a target="_blank" href="/user/info/<%$tplData.user_info.uid%>"><%$tplData.user_info.username%></a><span class="doc">|</span><a href="/settings/index">个人设置</a><span class="doc">|</span><a href="/mycontest/index">我的竞赛</a><span class="doc">|</span><a href="/user/logout">退出</a><%else%><a target="_blank" href="/user/login">登录</a><span class="doc">|</span><a href="/user/reg">注册</a><span class="doc">|</span><a href="#">帮助</a> <%/if%></div>
	</div>
</div>

<div class="contest_header">
	<div class="info">

  	<div class="show_top">
  	<div class="bdshare">
	<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
	</div>
  	<h1 class="contest_h1"><%$tplData.contest.contest_name%></h1>
  	<div class="time" id="lxftime" endtime="<%$tplData.contest.contest_start_time%>" showdetailtime="no"></div>
  	<div class="bm"><%if !empty($tplData.reconf.type) && $tplData.reconf.type==2%><a href="/contest/user_apply/<%$tplData.contest.contest_id%>"><em>报名</em></a><%/if%></div>
  	
  	<%if $tplData.contest.sons_num > 0%><div class="fsbm"><a href="/<%$tplData.contest_url%>/branch"><em>分赛入口</em></a></div><%/if%>
  	<div class="contest_time">
  	<div class="enterbm"><span class="icon"></span>报名时间：<%if $tplData.contest.regist_start_time != '0000-00-00 00:00:00'%><%$tplData.contest.regist_start_time|truncate:16:'':true%><%else%>还未设置<%/if%>
  	~ <%if $tplData.contest.regist_end_time != '0000-00-00 00:00:00'%><%$tplData.contest.regist_end_time|truncate:16:'':true%><%else%>还未设置<%/if%></div>
  	<div class="startbm"><span class="icon"></span>竞赛时间：<%if $tplData.contest.contest_start_time != '0000-00-00 00:00:00'%><%$tplData.contest.contest_start_time|truncate:16:'':true%><%else%>还未设置<%/if%>
  	~ <%if $tplData.contest.contest_end_time != '0000-00-00 00:00:00'%><%$tplData.contest.contest_end_time|truncate:16:'':true%><%else%>还未设置<%/if%></div>
  	</div>
  	<div style="clear:both;"></div>
  	</div>
  	<div class="dhbox">
    <ul>
		<li><a href="/" >首页</a></li>
	    <li><a href="/<%$tplData.university.short_name%>" >高校首页</a></li>
	    <%foreach from=$tplData.colums item=value key=key%>
		<li><a <%if $key==$tplData.col%> class="current" <%/if%>href="/<%$tplData.contest_url%>/<%$key%>"><%$value%></a></li>
		<%/foreach%>
	    <li><a target="_blank" href="<%if $tplData.contest.contest_bbs|default:0%><%$tplData.contest.contest_bbs%><%else%>/forum/flist/<%$tplData.contest.contest_type%><%/if%>">论坛</a></li>
	</ul>
	<%if !empty($user.uid) && $user.uid == $tplData.contest.create_user_id%>
	<span class="btn btn-success FR"><a href="/contest/upContest/<%$tplData.contest.contest_id%>">更新竞赛</a></span>
  	<span class="btn btn-success FR"><a href="/contest/create_apply/<%$tplData.contest.contest_id%>">报名系统</a></span>
  	<%/if%>
  	<div style="clear:both;"></div>
   </div>
   </div>
</div>


<div class="main">
	<div class="clear DivH10"></div>
    <div class="info fixed">
      <div class="left_side FL">
      <div class="baoming_menu FL">
            <div class="baoming_head">
              <h2 >竞赛报名</h2>
            </div>
            <div class="baoming_body">
              <ul >
                <%if !empty($tplData.reconf.type) && $tplData.reconf.type==2%><li><a href="/contest/user_apply/<%$tplData.contest.contest_id%>">立即报名</a></li><%/if%>
                <%foreach from=$tplData.colums item=value key=key%>
				<li><a <%if $key==$tplData.col%> class="current" <%/if%>href="/<%$tplData.contest_url%>/<%$key%>"><%$value%></a></li>
				<%/foreach%>
              </ul>
            </div>
          </div>
      </div>