<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>环球竞赛网 - 中国大学生竞赛联盟</title>
<meta name="keywords" content="数学建模竞赛,全国高校联盟,MCM,ICM">
<meta name="description" content="全国大学生竞赛联盟">
<meta name="Copyright" content="worldjingsai.com">
<link rel="shortcut icon" href="http://www.divcss5.com/favicon.ico">
<link href="gaoxiao.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<div class="top">
	<div class="container">
		<div class="top_logo FL">环球<span class="c_red">竞赛</span>网 <span class="ml_30">world<span class="c_red fs_italic">jingsai</span>.com  <span class="ml_30">出国or保研?N多大赛奖项等你拿！</span></div>
		<div class="FR"><a target="_blank" href="#">登录</a> | <a href="#">注册</a> | <a href="#">帮助</a></div>
	</div>
</div>
<div class="baoming_header">
	
	<div class="container">
    
	<h1 class="class_title">清华大学"华罗庚杯"数学建模竞赛</h1>

	</div>
</div>
<div class="nav">
	<div class="container">
	<ul>
	<li   ><a href="#" >首页</a></li>
    <li   ><a href="#" >高校首页</a></li>
	<li><a href="#">竞赛简介</a></li>
	<li><a href="#">竞赛通知</a></li>
    <li><a href="#">赛题发布</a></li>
    <li><a href="#" class="current">获奖名单</a></li>
    <li><a href="#">论坛</a></li>
	</ul>
	</div>
</div>

<div class="main">
	<div class="clear DivH10"></div>
    <div class="container">
      <div class="left_side FL">
         
      <div class="logo FL"> <a href="#"><img width="180px" src="qinghua.jpg"/></a> </div>
      <div class="DivH10"></div>
      <div class="baoming_menu FL">
            <div class="baoming_head">
              <h2 >竞赛报名</h2>
            </div>
            <div class="baoming_body">
              <ul >
                <li ><a href="/baoming">立即报名</a></li>
                <li ><a href="/mcm">竞赛通知</a></li>
                <li ><a href="/acm">赛题发布</a></li>
                <li ><a href="/dia">获奖名单</a></li>
                <li ><a href="/mcm">竞赛简介</a></li>
              </ul>
            </div>
          </div>
      </div>