<%include file="contest/contest_header.html"%>

        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="article FL">
            <div class="article_title">
              <h1 ><%$tplData.article.title%></h1> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               <div class="article_content">
               <%$tplData.article.content%>
               </div>
            </div>
          </div>
          </div>
          
        <div class="DivH10 clear"></div>
        <div id="post_box">
        <div class="post_box fixed" >
            <div class="post_area fixed" >
	        <div class="post_notice">发表评论：</div>
	        <form action="" method="post"> 
	        <div class="post_comment">
	            <textarea class="comment_content" name="comment"></textarea>
	        </div>
	        <div class="post_bottom fixed"><button type="submit" class="btn btn-small btn-primary FR">发布</button></div>
	        </form>
	        </div>
        </div>
        </div>
        
        <div class="DivH10"></div>
        <div class="block fixed">
        <div class="comment_list">
        <div class="show_comment">评论列表</div>
        <div class="comment_box">
	        <div class="info"><a href="">用户名</a></div>
	        <div class="content">这里是评论的内容</div>
	        <div class="toolbar" ><span class="comment_date FL">2013年5月6日</span><span class="reply FR"><a class="btn btn-small js_reply" href="javascript:;">回复</a></span></div>
        </div>
        <div class="comment_box">
	        <div class="info"><a href="">用户名</a></div>
	        <div class="content">这里是评论的内容</div>
	        <div class="toolbar" ><span class="comment_date FL">2013年5月6日</span><span class="reply FR"><a class="btn btn-small js_reply" href="javascript:;">回复</a></span></div>
        </div>
        </div>
        </div>
        
        </div>
        
<%include file="contest/contest_footer.html"%>