      </div>
	  <div class="footer">
	  <div class="info">
	      <div class="version">
		  Copyright &copy;环球竞赛网  2013-2014 京ICP备14013810号-2
		  <p class="copyright">在线技术支持：<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=45e9e01b6f45eccbb21bb037538a475f00527a56a6c48668"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=45e9e01b6f45eccbb21bb037538a475f00527a56a6c48668&pic=51" alt="网站有问题联系技术人员" title="网站有问题联系技术人员"></a></p>
		  </div>
	  </div>
	  </div>
    </div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</body>
</html>
