<%include file="contest/contest_header.html"%>
<script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/common/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/common/js/univs.js"></script>
        <!--第一栏-->
        <div class="right_div FR">
          <div class="block fixed">
          <%include file="contest/include_create_contest.html"%>
       </div>
       </div>
<%include file="contest/contest_footer.html"%>