<%include file="contest/contest_header.html"%>
<link  rel='stylesheet' type='text/css' href='/static/common/css/jquery-ui-1.10.4.custom.min.css' >
<script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/common/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/common/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/common/js/univs.js"></script>
        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="article FL">
            <div class="article_title">
              <h3 ><span class="current">创建报名系统</span></h3> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               <div class="register">
               <div class="create_data">
               <div class="DivH10"></div>
        <form id="form-practice" action="/contest/create_apply/<%$tplData.contest.contest_id%>" method="post" class="dialog-box">
            <input type="hidden" value="<%$tplData.contest.contest_id|default:''%>" name="contest_id" id="contest_id"/>
            <table width="100%" class="apply_teble" border=1 >
        <tbody>
        <tr>
            <td class="current t-c" colspan="3" >报名系统配置信息</td>
        </tr>
        
        <tr>
            <th><em>*</em>第几届竞赛:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input title="区分队伍是报名的哪一届竞赛" type="text" class="number" value="1"/></div>
            </td>
        </tr>
        
        <tr>
            <th><em>*</em>报名队号生成基数:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input type="text" title="根据这个基数每增加一个队，队号加1，可以不修改" class="number" value="10000"/></div>
            </td>
        </tr>
        
        <tr>
            <th><em>*</em>竞赛容许参赛人数:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input type="text" class="number" value="1"/>~<input type="text" class="number"/></div>
            </td>
        </tr>
        
        
        <tr>
            <td class="current t-c" colspan="3" >报名时需要填写的队伍信息</td>
        </tr>
        <tr class="control">
            <td >字段名称</td>
            <td title="提示信息显示在输入框的后面，提示报名者需要填写的内容">提示信息</td>
            <td >是否启用</td>
        </tr>
        <tr>
            <td><input type="text" name="t[]" value="团队名称"></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="t-c"><input type="checkbox" name="c[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="t[]" value="指导老师"></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="t[]" value="队长姓名"></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="t[]" value="队长联系电话"></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="t[]" value="团队级别"></td>
            <td><input type="text" name="b[]" value="请填写：专科组、本科组、研究生组"></td>
            <td class="center"><input type="checkbox" name="c[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="t[]" value=""></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="t[]" value=""></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="t[]" value=""></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="t[]" value=""></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="t[]" value=""></td>
            <td><input type="text" name="b[]" value=""></td>
            <td class="center"><input type="checkbox" name="c[]" value="1"></td>
        </tr>
        
        </tbody>
        <tbody>

        
        <tr>
            <td class="current t-c" colspan="3" >报名时需要填写的参赛者信息</td>
        </tr>
        
        <tr class="control">
            <td >字段名称</td>
            <td title="提示信息显示在输入框的后面，提示报名者需要填写的内容">提示信息</td>
            <td >是否启用</td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="姓名"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="性别"></td>
            <td><input type="text" name="d[]" value="填写：男、女"></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="学校名称"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="专业"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="年龄"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="联系电话"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value="电子邮件"></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" checked value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        <tr>
            <td><input type="text" name="u[]" value=""></td>
            <td><input type="text" name="d[]" value=""></td>
            <td class="center"><input type="checkbox" name="s[]" value="1"></td>
        </tr>
        
             </tbody>
             </table>
             <div class="DivH10"></div>
             <div class="t-c">
             <button class=" btn btn-primary" type="submit" >提交</button>
             </div>
             </form>  
            </div>
          </div>
          </div>
          
        </div>
       </div>
       </div>
<%include file="contest/contest_footer.html"%>