<%include file="contest/contest_header.html"%>
        <script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="/static/common/js/jquery.form.js"></script>
        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="article FL">
            <div class="article_title">
              <h3 ><span class="current">创建报名系统</span></h3> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               <div class="register">
               <div class="create_data">
               <div class="DivH10"></div>
        <form id="create_apply" action="/contest/create_apply/<%$tplData.contest.contest_id%>" method="post" class="dialog-box">
            <input type="hidden" value="<%$tplData.contest.contest_id|default:''%>" name="contest_id" id="contest_id"/>
            <input type="hidden" value="<%$tplData.reconf.id|default:''%>" name="id" />
            <table class="apply_teble js_table" border=1 >
        <tr>
            <td class="current t-c" colspan="3" >第一部分：报名系统配置信息</td>
        </tr>
        
        <tr>
            <th><em>*</em>第几届竞赛:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input title="区分队伍是报名的哪一届竞赛" type="text" class="number" value="<%$tplData.reconf.session|default:1%>" name="session" id="session"/></div>
            </td>
        </tr>
        
        <tr>
            <th><em>*</em>报名队号生成基数:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input type="text" title="根据这个基数每增加一个队，队号加1，可以不修改" class="number" value="<%$tplData.reconf.base_number|default:1000%>" name="base_number" id="base_number"/></div>
            </td>
        </tr>
        
        <tr>
            <th><em>*</em>竞赛容许参赛人数:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input type="text" class="number" value="<%$tplData.reconf.min_member|default:1%>" name="min_member" id="min_member"/>~<input type="text" class="number" value="<%$tplData.reconf.max_member|default:3%>" name="max_member" id="max_member"/></div>
            </td>
        </tr>
        
        <tr>
            <th>报名费用:</th>
            <td class="t-l" colspan="2" >
                <div class=""><input type="text" class="number" value="<%$tplData.reconf.fee|default:0%>" name="fee" id="fee"/>元</div>
            </td>
        </tr>
        </table>
        <div class="DivH10"></div>
        <table class="apply_teble js_table" border=1 >
        <tr>
            <td class="current t-c" colspan="3" >第二部分：报名时需要填写的队伍信息</td>
        </tr>
        <tr class="control">
            <td >字段名称</td>
            <td title="提示信息显示在输入框的后面，提示报名者需要填写的内容">提示信息</td>
            <td >是否启用</td>
        </tr>
        <%foreach from=$tplData.reconf.t item=item name=foo%>
        <tr>
            <td><input type="text" name="t[]" value="<%$item.0|default:''%>"></td>
            <td><input type="text" name="b[]" value="<%$item.1|default:''%>"></td>
            <td class="t-c"><input type="checkbox" name="c[<%$item@index%>]" <%if !empty($item.2)%>checked <%/if%> value="1"></td>
        </tr>
        <%/foreach%>
        </table>

        <div class="DivH10"></div>
        <table class="apply_teble js_table" border=1 >
        <tr>
            <td class="current t-c" colspan="3" >第三部分：每个参赛者需要填写的个人信息</td>
        </tr>
        
        <tr class="control">
            <td >字段名称</td>
            <td title="提示信息显示在输入框的后面，提示报名者需要填写的内容">提示信息</td>
            <td >是否启用</td>
        </tr>
        <%foreach from=$tplData.reconf.m item=item name=foo%>
        <tr>
            <td><input type="text" name="u[]" value="<%$item.0|default:''%>"></td>
            <td><input type="text" name="d[]" value="<%$item.1|default:''%>"></td>
            <td class="t-c"><input type="checkbox" name="s[<%$item@index%>]" <%if !empty($item.2)%>checked <%/if%> value="1"></td>
        </tr>
        <%/foreach%>
        
        </table>
        
        <div class="DivH10"></div>
        <table class="apply_teble js_table" border=1 >
        <tr>
            <td class="current t-c" colspan="3" >第四部分：上交作品配置项</td>
        </tr>
        
        <tr class="control">
            <td >字段名称</td>
            <td title="竖杠|隔开表示单选框的选项">选项信息</td>
            <td >是否启用</td>
        </tr>
        <%foreach from=$tplData.reconf.r item=item name=foo%>
        <tr>
            <td><%$item.0|default:''%></td>
            <td><input type="text" name="o[]" value="<%$item.1|default:''%>"></td>
            <td class="t-c"><input type="checkbox" name="i[]" <%if !empty($item.2)%>checked <%/if%> value="1"></td>
        </tr>
        <%/foreach%>
        
        </table>
        
             <div class="DivH10"></div>
             <div class="t-c">
             <button class=" btn btn-primary" type="submit" >提交</button>
             </div>
             </form>  
            </div>
          </div>
          </div>
          
        </div>
       </div>
       </div>
<%include file="contest/contest_footer.html"%>