<%include file="contest/contest_header.html"%>
<!--第一栏-->
            <script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
            <script type="text/javascript" src="/static/ueditor1_3_6_utf8/ueditor.config.js"></script>
            <script type="text/javascript" src="/static/ueditor1_3_6_utf8/ueditor.all.min.js"></script>
            <script type="text/javascript" src="/static/common/js/jquery.validate.js"></script>
            <script type="text/javascript" src="/static/common/js/jquery.form.js"></script>

        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="article FL">
            <div class="article_title">
              <h3 >添加文章</h3> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               <div class="create_data">
              
            <form id="content-form" action="/univs/content/<%$tplData.contest.contest_id%>" method="post">
            <div class="table_row">
            <label >发布栏目：</label>
            <select name="col" >
                <%foreach from=$tplData.colums item=value key=key%>
                    <option <%if $key==$tplData.col%> selected <%/if%> value=<%$key%> ><%$value%></option>
                <%/foreach%>
            </select>
            </div>
        
            <div class="table_row">
            <label >标题：</label><input type="text" class="title" name="title" id="title" value="<%$tplData.article.title|default:''%>"/>
            </div>
            
            <script type="text/plain" id="editor" name="content" >
            <%$tplData.article.content|default:''%>
            </script>
            <script type="text/javascript">
            UE.getEditor('editor');
            </script>
            <input type="hidden" name="contest_id" value="<%$tplData.contest.contest_id|default:''%>" />
            <input type="hidden" name="article_id" value="<%$tplData.article.article_id|default:''%>" />
            <div class="table_bottom">
                <button type="submit" class="btn commit btn-primary" >完  成</button>
            </div>
        
             </form>  
            </div>
          </div>
        </div>
        </div>
        </div>

<%include file="contest/contest_footer.html"%>