<%include file="contest/contest_header.html"%>

        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="article FL">
            <div class="article_title">
              <h1 ><%$tplData.article.title%></h1> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               <div class="article_content">
               <%$tplData.article.content%>
               </div>
            </div>
          </div>
          </div>
        </div>

<%include file="univs/univs_footer.html"%>