<%include file="univs/univs_header.html"%>

        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="block_list FL">
            <div class="div_block_head">
              <h2 ><%$tplData.subTitle%></h2> 
            </div>
            <div class="div_block_body">
               <ul >
              <%if $tplData.list%>
              <%foreach from=$tplData.list item=value key=key%>
                <li ><a  class="ltitle" href="/univs/contest/<%$tplData.university.univs_id%>?cid=<%$value.contest_id%>" title="<%$value.contest_name|strip_tags%>"><%$value.contest_name|strip_tags%></a> <span><%$value.create_time|truncate:10:''%></span></li>
              <%/foreach%>
              <%/if%>
              
              
              </ul>
            </div>
          </div>
          </div>
        </div>

<%include file="contest/contest_footer.html"%>