<%include file="contest/contest_header.html"%>

        <script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
        <!--第一栏-->
        <div class="right_div FR">
        
          <div class="block fixed">
          
          <div class="block_list FL">
            <div class="div_block_head">
              <h2 ><%$tplData.colums[$tplData.col]%> <%if !empty($user.uid) && $user.uid == $tplData.contest.create_user_id%><span class="FR"><a href="/univs/content/<%$tplData.contest.contest_id%>?col=<%$tplData.col%>" class="edit btn">添加文章</a></span><%/if%></h2> 
            </div>
            <div class="div_block_body">
               <ul >
              <%if $tplData.article%>
              <%foreach from=$tplData.article item=value key=key%>
                <li >
                <%if !empty($user.uid) && $user.uid == $tplData.contest.create_user_id%>
                <span class="control"> <a target="_blank" href="/contest/update/<%$value.article_id%>" class="js_edit" >编辑</a> <a href="javascript:;" url="/contest/del/<%$value.article_id%>" notice="<%$value.title%>" class="js_del" >删除</a></span>
                <%/if%>
                <a target="_blank" class="title" href="/contest/show/<%$value.article_id%>" title="<%$value.title%>"><%$value.title%></a> 
                <span><%$value.create_time|truncate:10:''%></span>
                </li>
              <%/foreach%>
              <%/if%>
              </ul>
            </div>
          </div>
          </div>
        </div>

<%include file="contest/contest_footer.html"%>