<%include file="contest/contest_header.html"%>
<script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/common/js/jquery.form.js"></script>
        <!--第一栏-->
               <div class="right_div FR">
		
		  <div class="block fixed">
          
		  <div class="article FL">
			<div class="article_title">
              <h1 ><%$tplData.contest.contest_name%></h1> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               
			   <div class="rg_title">报名竞赛-报名人员限制<%$tplData.reconf.min_member%>~<%$tplData.reconf.max_member%>人</div>
			   <div class="rg_data">
			   
    <form id="js_user_apply" action="/contest/user_apply/<%$tplData.contest.contest_id%>/<%$tplData.teamInfo.team_id|default:0%>" method="post" class="dialog-box">

			<div class="sys_info">
       <p class="rg_info">系统信息</p>
       <table class="">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
        
        <tr>
            <th>参赛队号:</th>
            <td>
                <%if !empty($tplData.reconf.is_defined_number)%>
                <input class="text" id="team_number" type="text" value="<%$tplData.teamInfo.team_number|default:$tplData.reconf.base_number%>"  name="team_number" chkurl="/data/contest/chknumber"
                contest_id="<%$tplData.contest.contest_id|default:''%>" session="<%$tplData.reconf.session|default:''%>" >
                <%if $tplData.contest.contest_url == 'cumcm'%><br/><span class="notice"> 共8位，请将后3位改为学校分配的编号，前5位不变！</span><%/if%>
                <%else%>
                <%if !empty($tplData.teamInfo)%><%$tplData.teamInfo.team_number%>
                
                <%else%>还未生成，提交报名后会自动生成队号<%/if%>
                <%/if%>
            </td>
        </tr>
        <%if $tplData.reconf.fee%>
        <tr>
            <th>报名费用:</th>
            <td>
                <%$tplData.reconf.fee%>元 &nbsp;&nbsp;
                <%if !empty($tplData.teamInfo.is_fee)%><span class="green">已付款</span><%else%>
                <span class="red">未支付</span>
                <%if !empty($tplData.teamInfo.team_number)%>
                
                <a href="/myenter/fee/<%$tplData.teamInfo.team_id%>" class="btn btn-sm btn-primary">上传付款证明图片</a>
                
                <%/if%>
                <%/if%>
            </td>
        </tr>
        <%/if%>
        </tbody>
        </table>
    </div>

	<div class="DivH10"></div>
	<div class="team_info">
	<p class="rg_info">团队信息</p>
	<input type="hidden" name="team_id" id="team_id" value="<%$tplData.teamInfo.team_id|default:''%>"/>
    <table class="">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
        <%foreach from=$tplData.reconf.t item=item key=key name=teamCol%>
        <%if !empty($item.2)%>
        <tr>
            <th><%if $tplData.contest.contest_url == 'cumcm' && $item@index >1%><%else%><span class="red">*</span><%/if%>
            <%$item.0%>:</th>
            <td>
                <div class="clearfix">
                <%if !empty($item.1) && is_array($item.1)%>
                <%foreach from=$item.1 item=sit%>
                <input type="radio" value="<%$sit%>" name="t[<%$key%>]" <%if $sit == $tplData.teamColumn.$key|default:''%> checked="checked" <%/if%> 
                <%if $tplData.contest.contest_url == 'cumcm' && $item@index >1%><%else%>data-rule-required="true" data-msg-required="请选择" <%/if%>/><%$sit%>
                <%/foreach%>
                <%else%>
                <input type="text" value="<%$tplData.teamColumn.$key|default:''%>"  class="js_notice text " name="t[<%$key%>]" 
                <%if $tplData.contest.contest_url == 'cumcm' && $item@index >1%><%else%> data-rule-required="true" data-msg-required="内容不能为空" <%/if%>
                value="<%$tplData.teamColumn.$key|default:''%>">
                <%if !empty($item.1)%><br/><span class="notice"> <%$item.1|default:''%></span><%/if%>
                <%/if%>
                </div>
            </td>
        </tr>
        <%/if%>
		<%/foreach%>
		</tbody>
		</table>
	</div>
	
	<div class="team_member">
	<%for $i=1 to $tplData.mem_num%>
	<%assign var=j value=$i-1 %>
	<div class="js_mem_info">
    <p class="rg_info">队员<%$i%>信息：</p>
    <table  class="">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
    <%foreach from=$tplData.reconf.m item=item key=key%>
        <%if !empty($item.2)%>
        <tr>
            <th><%$item.0%>:</th>
            <td  >
                <div class="clearfix">
                <%if !empty($item.1) && is_array($item.1)%>
                <%foreach from=$item.1 item=sit%>
                <input type="radio" value="<%$sit%>" name="m[<%$i%>][<%$key%>]" <%if $sit == $tplData.memberColumn.$j.$key|default:''%> checked="checked" <%/if%> 
                 data-rule-required="true" data-msg-required="请选择" /><%$sit%>
                <%/foreach%>
                <%else%>
                
                <input type="text" class="text " name="m[<%$i%>][<%$key%>]" data-rule-required="true" data-msg-required="内容不能为空" value="<%$tplData.memberColumn.$j.$key|default:''%>">
                <%if !empty($item.1)%><br/><span class="notice"> <%$item.1|default:''%></span><%/if%></div>
                <%/if%>
            </td>
        </tr>
        <%/if%>
    <%/foreach%>
        </tbody>
    </table>
    <div class="DivH10 dashed"></div>
    </div>
	<%/for%>
	</div>
	<div class="member_control">
	<a href="javascript:;" class="btn btn-small btn-success js_add_data" ><span class="ui-icon ui-icon-circle-plus FL add-icon "></span><span class="FL">增加队员</span></a>
    <a href="javascript:;" class="btn btn-small btn-danger js_del_data" ><span class="ui-icon ui-icon-circle-minus FL add-icon "></span><span class="FL">减少队员</span></a>

    <div class="DivH10"></div>
	        <div class="t-c">
                <button type="submit" class="btn btn-primary"  name="submit">提交报名信息</button>  
                <a class="btn FR js_cancle" href="javascripy:;" uri="/contest/user_cancle/<%$tplData.teamInfo.team_id|default:''%>">取消报名</a>  
                
            </div>
    </div>
	</form>
	
    <input type="hidden" id="max_member" value="<%$tplData.reconf.max_member%>"/>
    <input type="hidden" id="min_member" value="<%$tplData.reconf.min_member%>"/>
    <div id="js_add_data" style="display:none">
    <div class="js_mem_info">
    <p class="rg_info">队员{i}信息：</p>
    <table  class="">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
    <%foreach from=$tplData.reconf.m item=item key=key%>
        <%if !empty($item.2)%>
        <tr>
            <th><%$item.0%>:</th>
            <td>
                <div class="clearfix">
                <%if !empty($item.1) && is_array($item.1)%>
                <%foreach from=$item.1 item=sit%>
                <input type="radio" value="<%$sit%>" name="m[{i}][<%$key%>]"  
                 data-rule-required="true" data-msg-required="请选择" /><%$sit%>
                <%/foreach%>
                <%else%>
                
                <input type="text" class="text " name="m[{i}][<%$key%>]" data-rule-required="true" data-msg-required="内容不能为空" value="">
                <%if !empty($item.1)%><br/><span class="notice"> <%$item.1|default:''%></span><%/if%></div>
                <%/if%>
            </td>
        </tr>
        <%/if%>
    <%/foreach%>
        </tbody>
    </table>
    <div class="DivH10 dashed"></div>
    </div>
    </div>
    
			   </div>
			</div>
              
            </div>
		  </div>
		</div>
      </div>
      
<%include file="contest/contest_footer.html"%>