<%include file="contest/contest_header.html"%>
<link  rel='stylesheet' type='text/css' href='/static/common/css/jquery-ui-1.10.4.custom.min.css' >
<script type="text/javascript" src="/static/common/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/common/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/common/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/common/js/univs.js"></script>
        <!--第一栏-->
               <div class="right_div FR">
		
		  <div class="block fixed">
          
		  <div class="article FL">
			<div class="article_title">
              <h1 >全国大学生数学建模竞赛</h1> 
            </div>
            <div class="article_menu">
            </div>
            <div class="article_body">
               
			   <div class="rg_title">报名竞赛-报名人员限制1~3人</div>
			   <div class="rg_data">
			  
			<form id="form-practice" action="/resume/practice/create" method="post" class="dialog-box">

	<div class="team_info">
	<p class="rg_info">团队信息</p>
   <table width="100%" class="dj-form-smart th-left">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
        <tr>
            <th><em>*</em>团队名称:</th>
            <td  >
                <div class="clearfix"><input type="text" autocomplete="off" id="employer-input" class="text J_check" name="corpName" reg="^.{2,40}$" maxlength="40" value=""></div>
            </td>
            
        </tr>
		<tr>
            <th>指导老师:</th>
            <td  >
                <input type="text" class="text"/>
            </td>
        </tr>
		
        <tr>
            <th>证书邮寄地址:</th>
            <td  >
                <input type="text" class="text"/>
            </td>
        </tr>
		</tbody>
		</table>
	</div>
	
	<div class="team_member">
    <p class="rg_info">队员1信息：</p>
    <table width="100%" class="dj-form-smart th-left">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
        <tr>
            <th><em>*</em>姓名:</th>
            <td  >
                <div class="clearfix"><input type="text" autocomplete="off" id="employer-input" class="text J_check" name="corpName" reg="^.{2,40}$" maxlength="40" value=""></div>
            </td>
            
        </tr>
		<tr>
            <th>学校:</th>
            <td  >
                <input type="text" class="text"/>
            </td>
        </tr>
		
        <tr>
            <th>院系:</th>
            <td  >
                <input type="text" class="text"/>
            </td>
        </tr>
        <tr>
            <th>专业:</th>
            <td ><input type="text" name="department" value="" class="text J_check" blanksubmit="true" reg="^.{0,15}$" maxlength="15"></td>
        </tr>
        <tr>
            <th><em>*</em>年级:</th>
            <td  >
                <input type="text" name="position" value="" class="text J_check" id="position-input" reg="^.{2,15}$" maxlength="15">
                
            </td>
        </tr>
        <tr>
            <th><em>*</em>邮箱:</th>
            <td  >
                <input type="text" name="position" value="" class="text J_check" id="position-input" reg="^.{2,15}$" maxlength="15">
                
            </td>
        </tr>
		 <tr>
            <th><em>*</em>手机号:</th>
            <td  >
                <input type="text" name="position" value="" class="text J_check" id="position-input" reg="^.{2,15}$" maxlength="15">
                
            </td>
        </tr>
		        <tr>
            <th><em>*</em>性别:</th>
            <td  >
                <label><input type="radio" name="sex" value="男" >男</label>
				<label><input type="radio" name="sex" value="女" >女</label> 
            </td>
        </tr>
		        <tr>
            <th><em>*</em>年级:</th>
            <td  >
                <input type="text" name="position" value="" class="text J_check" id="position-input" reg="^.{2,15}$" maxlength="15">
                
            </td>
        </tr>
        </tbody>
    </table>
	<div class="DivH10 dashed"></div>
	
	<p class="rg_info">队员2信息：</p>
	    <table width="100%" class="dj-form-smart th-left">
        <colgroup>
            <col width="150">
            <col width="350">
        </colgroup>
        <tbody>
        <tr>
            <th><em>*</em>姓名:</th>
            <td  >
                <div class="clearfix"><input type="text" autocomplete="off" id="employer-input" class="text J_check" name="corpName" reg="^.{2,40}$" maxlength="40" value=""></div>
            </td>
            
        </tr>
        <tr>
            <th>院系:</th>
            <td  >
                <input type="text" class="text"/>
            </td>
        </tr>
        <tr>
            <th>专业:</th>
            <td ><input type="text" name="department" value="" class="text J_check" blanksubmit="true" reg="^.{0,15}$" maxlength="15"></td>
        </tr>
        <tr>
            <th><em>*</em>年级:</th>
            <td  >
                <input type="text" name="position" value="" class="text J_check" id="position-input" reg="^.{2,15}$" maxlength="15">
                
            </td>
        </tr>
        
        </tbody>
    </table>
	
	<div class="DivH10 dashed"></div>
	        <div class="t-c">
                <button type="submit" class="button" >完成</button>  
            </div>
	</div>
	</form>
	
			   </div>
			   
			   
			</div>
              
               
            </div>
		  </div>
		</div>
      </div>
      
<%include file="contest/contest_footer.html"%>