<%include file="index/index_header.html"%>
<div class="c_out">
	<div class="article">
	<div class="title">
	<h1 >关于我们</h1>
	</div>
	<div class="content">
	<p>伟大的同学们！这将是实现你们学生时代梦想，超神之路，梦幻人生的终极舞台！</p>
	<p>欢迎来自全球五湖四海的每一位中国学子、华人华侨及海外同胞学子来到你们的竞赛家园——环球竞赛网！</p>
	<p>出国，保研，考研Or就业？快来环球竞赛网吧！每位大学生和研究生都理应拥有一个梦幻般的大学和科研时代，无论您选择哪个方向，这里有N多顶尖竞赛奖项等你拿！这里将是您实现学生时代“站在浪潮之巅”的梦幻舞台。相信当有一天，无论您选择出国留学、保研考研、亦或是迈进自己梦寐以求的企业，开创自己的事业，完美的获奖经历将带给你的是凌驾于万人之上的机遇与优势，带给你无比强大的内心世界和源源不断的自信与动力！</p>
	<p>我们将用顶尖的竞赛奖项让每位学子的获奖经历赞到爆！让每位学子在自己最喜欢，最擅长的领域实现各类赛事的“大满贯”！</p>
	<p>环球竞赛网是由林海卓、李勤伟、任立峰、李蔓蔓于2013年12月份成立。目前全球首家，也是最大的全面竞赛服务提供商，专注于主办、承办、组织以及推广全部类别的科技、文化竞赛。为拥有各类专才的学生提供充分展示和证明自己能力的舞台。为竞赛的主办，承办单位，各企业赞助商提供全面的竞赛服务解决方案，通过环球竞赛网及旗下的中国大学生竞赛联盟密集高效的竞赛交流、资源资讯分享平台、吸引最优秀的大学生参赛，并实现各赞助商高性价比的品牌传播及高校人才储备与市场营销战略。</p>
<br/>
林海卓 环球竞赛网联合创始人兼CEO
<br/>
辽宁省大连人，曾任大连市数学建模学生联合会主席，喜爱参加各类数学竞赛，赛事沙龙及宣传推广活动，除此之外还是足球，长跑，羽毛球以及美食爱好者。
	</div>
	</div>
</div>
<%include file="index/index_footer.html"%>