<%include file="index/index_header.html"%>
<div class="c_out">
<div class="c_out_h">
	<div class="article">
	<div class="article_title">
	<h1 >申请高校区主席</h1>
	</div>
	<div class="article_menu"></div>
	<div class="article_content">
	<p>环球竞赛网将在全国3300多所高校选拔中国大学生竞赛联盟高校区主席1名，副主席若干，候选人将从全国各高校学生会，各学院学生会，社团协会，研究生会的学生干部中选拔，欢迎全国各高校上述团体或其他学生团体的学生干部有意者与我们联系。</p>
	<p>环球竞赛网将提供中国教育网、中国教育在线以及环球竞赛网三方认证的聘用证书，例如针对北京大学信息科学学院的学生会干部，我们将会给予中国大学生竞赛联盟北京大学区主席，或副主席的头衔。并在其未来升学、出国及就业过程中开具官方证明等文件。</p>
	<br/>
<p>有意者请联系环球竞赛网CEO林海卓，电话18810308832. CTO李勤伟，电话18910958889. CIO任立峰，电话15210785679。</p>
    
	</div>
	</div>
	</div>

<%include file="index/index_footer.html"%>