<%include file="index/index_header.html"%>
<div class="c_out">
<div class="c_out_h">
	<div class="article">
	<div class="article_title">
	<h1 >关于创建竞赛</h1>
	</div>
	<div class="article_menu"></div>
	<div class="article_content">
	<p>伟大的同学们！这将是实现你们学生时代梦想，超神之路，梦幻人生的终极舞台！</p>
	<p>任何人都可以通过环球竞赛网首创的“创建竞赛系统”，为自己的朋友圈子，群组，爱好者俱乐部，班级，年级，社团，协会，学生会，甚至是以交友为目的陌生团体来“一键”创建竞赛，并拥有全球独一无二的竞赛官网，并能够做到让您的竞赛成为一个贯穿十几年，甚至是百年的经典竞赛。</p>
	<p>您只需填写竞赛时间、报名时间、竞赛介绍，赛题发布及最后的获奖名单就能轻松获得一个含金量高，信息量巨大的竞赛官网，该官网网址将会被永久保留。并能实时修改信息，上传最新的通知与资料。</p>
	<p>我们的目标是让新时代，覆盖亿万个主题的海量竞赛的主办方不再局限在老师，学校或行业协会，而是将创建权、主动权把握在每一个新时代，有理想，有创意的学生手中，通过竞赛秀出我人生，通过竞赛，实现“大满贯”级的获奖经历，在出国、保研、考研及就业的浪潮中站在时代的“浪潮之巅”！</p>

	</div>
	</div>
	</div>

<%include file="index/index_footer.html"%>