<%include file="index/index_header.html"%>
<div class="c_out">
<div class="c_out_h">
	<div class="article">
	<div class="article_title">
	<h1 >竞赛帮助</h1>
	</div>
	<div class="article_menu"></div>
	<div class="article_content">
	<h1>页面错乱、无法提交报名信息、无法上传附件、无法注册等显示的问题</h1>
	<p>属于浏览器问题，由于IE6、IE7浏览器不支持一些新特性，所以建议更换浏览器再访问本站。以下是推荐的浏览器：</p>
	<p> <a href="http://baoku.360.cn/soft/show/appid/105189" target="_blank">谷歌浏览器 </a>  /
	    <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank">IE10及以上IE浏览器</a> / 
	    <a href="http://baoku.360.cn/soft/show/appid/100923" target="_blank">360浏览器</a> / 
	    <a href="http://baoku.360.cn/soft/show/appid/105037" target="_blank">360极速浏览器</a>
	</p>
	<h1>注册系统</h1>
    <p>点击<a href="/user/reg"  target="_blank">注册</a>链接，填写相应的信息，即可完成注册，请仔细填写用户资料，用户名和邮箱可以找回密码。</p>
	<h1>报名竞赛</h1>
	<p>找到相应竞赛的报名网址，例如五一数学建模联赛报名官网:www.worldjingsai.com/wuyi，点击“立即报名”的按钮，填写对应的报名信息即可完成报名。
	报名成功后，可在个人账户的“我的竞赛”-“我参加的竞赛”中，查看到已报名的详细信息（包括参赛队号）。</p>
	<h1>上传付款证明图片和上传竞赛作品</h1>
	<p><a href="/user/login" target="_blank">登录系统</a>->右上角点击<a href="/myenter/enter" target="_blank">我的竞赛</a>
	       -><a href="/myenter/enter" target="_blank">我参加的竞赛</a>->找到对应的竞赛->点击“详情”按钮->点击“缴费”标签可以上传缴费证明；点击“作品”按钮可以上传竞赛作品。
	       </p>
    <h1>忘记密码</h1>
    <p>忘记密码可以在登录页面点击<a href="/user/findpwd" target="_blank">忘记密码</a>按钮，用户名和注册邮箱可以重置密码，填写用户名邮箱，点击找回密码，等待显示邮件已发送成功，
    登录你的邮箱点击环球竞赛网发送的找回密码链接，即可完成重置密码。</p>
    <h1>忘记用户名、邮箱、密码等其他问题</h1>
    <p>可以联系技术支持QQ：1851449628或者532361599，或者点击页面底端的QQ交谈直接和技术支持对话。如果QQ没有回应可以直接拨打电话，任老师：15210785679，李老师：18910958889，林老师：18810308832</p>
    
	</div>
	</div>
	</div>
</div>
<%include file="index/index_footer.html"%>