<div id="bottom">
<div class="c_out">
  <div id="footer">
    <div class="clearfix foot_bot">
    <a href="/about" target="_blank">关于我们</a> | 
	<a href="/apply" target="_blank">申请高校区主席</a> | 
	<a href="/connect" target="_blank">诚邀企业赞助</a> | 
	<a href="/frands" target="_blank">关于创建竞赛</a> |
	<a href="/other/help" target="_blank">帮助</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情链接:&nbsp;&nbsp;<a href="http://www.mathor.com" target="_blank">校苑数模网</a>
	</div>
	</div><div class="c_out_b">&nbsp;</div>
	</div>
	<p class="copyright">Copyright &copy;环球竞赛网  2013-2014 京ICP备14013810号-2<br>
	</p>
	<p class="copyright">在线技术支持：<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=45e9e01b6f45eccbb21bb037538a475f00527a56a6c48668"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=45e9e01b6f45eccbb21bb037538a475f00527a56a6c48668&pic=51" alt="网站有问题联系技术人员" title="网站有问题联系技术人员"></a></p>
</div>
</BODY></HTML>