<div id="bottom">
<div class="c_out">
  <div id="footer">
    <div class="clearfix foot_bot">
    <a href="/about" target="_blank">关于我们</a> | 
	<a href="/apply" target="_blank">申请高校区主席</a> | 
	<a href="/connect" target="_blank">诚邀企业赞助</a> | 
	<a href="/frands" target="_blank">关于创建竞赛</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情链接:&nbsp;&nbsp;<a href="http://www.mathor.com" target="_blank">校苑数模网</a>
	</div>
	</div><div class="c_out_b">&nbsp;</div>
	</div><p class="copyright"><span class="mr12">北京环球海勤立科技有限公司</span>Copyright 2013-2014 worldjingsai.com Inc. All rights reserved.<br>
	</p>
</div>
</BODY></HTML>