<div id="bottom">
<div class="c_out">
  <div id="footer">
    <div class="clearfix foot_bot"><a href="about.htm" target="_blank">关于我们</a> | 
	<a href="apply" target="_blank">申请大使</a> | 
	<a href="connect.html" target="_blank">联系我们</a> | 
	<a href="frands.html" target="_blank">友情链接</a> | 
	<a href="" target="_blank">社区准则</a> 
	</div>
	</div><div class="c_out_b">&nbsp;</div>
	</div><p class="copyright"><span class="mr12">北京环球海勤立科技有限公司</span>Copyright 2013-2014 worldjingsai.com Inc. All rights reserved.<br>
	</p>
</div>
</BODY></HTML>