<%include file="index/index_header.html"%>
<DIV class=c_out>
<DIV class=c_out_h><!--首屏头图-->
<DIV class="index_img" >
    <div class="earch_slogan">
    <p>中国大学生竞赛联盟</p>
    <p>中国教育在线(www.eol.cn)<br/>独家合作竞赛发布平台</p>
    </div>
    <div class="register">
    <%if $tplData.is_login eq 1 %>
        <div class="index_user">
        <p><span class="fr"><a href="/user/logout" class="js_login  logout">退出</a></span></p>
        <p>欢迎回来：</p>
        <p class="user_name"><a href="/user/info/<%$tplData.user_info.uid%>"><%$tplData.user_info.username|default:''%></a></p>
        <p class="my_item"><a href="/settings/index" class="btn">个人设置</a></p>
        <p class="my_item"><a class="btn " href="<%$tplData.user_info.univs_name|default:''%>">我的学校</a></p>
        <p class="my_item"><a class="btn " href="/mycontest/index">我的竞赛</a></p>
        </div>
    <%else%> 
        <div id="js_register" >
        <p><span class="fr"><a href="javascript:" class="js_login">登录</a></span><a href="javascript:" class="js_register current">注册账号</a></p>
        
        <form action="/user/reg" method="post" id="register_form">
        <div class="w_220">
        <div class="input-group">
        <label for="username" class="input-group-addon w_60">用户名</label>
        <input id="username" class="form-control" type="text" name="username" value=""/>
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label for="email"  class="input-group-addon w_60">邮箱</label>
        <input id="email" class="form-control" type="text" name="email" value=""/>
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label for="password"  class="input-group-addon w_60">密码</label>
        <input id="password" class="form-control" type="password" name="password" value=""/>
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label for="password_c" class="input-group-addon w_60">确认密码</label>
        <input id="password_c" class="form-control" type="password" name="password_c" value=""/>
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label for="school_name" class="input-group-addon w_60">学校</label>
        <input id="school_name" class="form-control" type="text" name="school_name" value=""/>
        <input type="hidden" value="" id="univs_id" name="univs_id"></input>
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label for="tel" class="input-group-addon w_60">手机</label>
        <input id="tel" class="form-control" type="text" name="tel" value=""/>
        </div>
        <div class="DivH10"></div>
        </div>

        <div class="button"><button type="submit" class="btn btn-large btn-info">立即注册</button></div>
        
        </form>
        </div>
        
      <div id="js_login" style="display:none">
        <p><span class="fr"><a href="javascript:" class="js_login current">登录</a></span><a href="javascript:" class="js_register">注册账号</a></p>
        
        <form action="/user/login" method="post" id="login_form">

        <div class="w_220">
        <div class="input-group">
        <label class="input-group-addon w_60" for="login_username">邮箱/手机/账号</label>
        <input id="login_username" class="form-control" type="text" name="username" />
        </div>
        <div class="DivH10"></div>
        <div class="input-group">
        <label class="input-group-addon w_60" for="login_password">密码</label>
        <input id="login_password" class="form-control" type="password" name="password"/>
        </div>

        </div>
        <div class="DivH10"></div>
        <div class="button"><button type="submit" class="btn btn-large btn-info">立即登录</button></div>
        </form>
    </div>
    <%/if%>
    </div>
</DIV>
<div id="choose-box-wrapper">
	<div id="choose-box">
		<div id="choose-box-title">
			<span>选择学校</span>
		</div>
		<div id="choose-a-province"></div>
		<div id="choose-a-school"></div>
		<div id="choose-box-bottom">
			<input type="button" id="closeSchoole" value="关闭" />
		</div>
	</div>
</div>

<div class="ad_image">
<a href="http://mgmcm.mathor.com" target="_blank"><img src="/static/common/images/banner-bg.jpg"></img></a>
</div>
<!--高校联盟-->
<DIV class=movie_out>
<H1 class=index_mtit>中国大学生联盟</H1>
<DIV class="clearfix o_h">
<DIV class=mnews_left>
<DIV class="clearfix zoom">
<div class="area">
<%foreach item=value key=key from=$tplData.provincs%>
    <dl><dt><%$value.provs_name%></dt>
    <dd>
    <%foreach item=value2 from=$value.universities%>
        <a href="/<%$value2.short_name%>"><%$value2.univs_name%></a>
    <%/foreach%>
    <a href="javascript:;" class="js_morechool" porvince_id="<%$value.provs_id%>">&nbsp;&nbsp;>>&nbsp;更多</a>
    </dd>
    </dl>
<%/foreach%>
</div>
</DIV>
</DIV>
</DIV>
</DIV>
</div>		
</DIV>
<script type="text/javascript" src="/static/common/js/school.js"></script>
<script type="text/javascript" src="/static/common/js/selectSchool.js"></script>
<%include file="index/index_footer.html"%>